/* Cores Terrosas */
.bg-terracota {
  background-color: #e86f48;
}

/* Cores Vibrantes */
.btn-terracota {
  background-color: #d96035;
  border-color: #d96035;
  color: #fff;
}

.btn-terracota:hover {
  background-color: #b34926;
  border-color: #b34926;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
/* Estilos para a seção de informações de contato */
.contact-container {
  padding: 40px;
  background-color: #fff;
}

.contact-container h2 {
  color: #e44e3a;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-container h4 {
  color: #333;
  font-weight: bold;
}

.contact-container p {
  color: #333;
  margin-bottom: 10px;
}

/* Estilos para o formulário de contato */
.contact-form {
  padding: 40px;
  background-color: #f8f8f8;
}

.contact-form h2 {
  color: #e86f48;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-form label {
  color: #333;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e86f48;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  margin-bottom: 20px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #e86f48;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #e86f48;
}
/* Estilo personalizado para a navbar em dispositivos móveis */
@media (max-width: 767px) {
  .navbar-desktop {
      display: none;
  }
  
  .navbar-mobile {
      display: block;
  }
}

/* Estilo personalizado para a navbar em desktops */
@media (min-width: 768px) {
  .navbar-mobile {
      display: none;
  }
  
  .navbar-desktop {
      display: flex;
      justify-content: flex-start;
  }
}
